.container-fluid {
  padding-bottom: 15px;
}

.form-group {
  margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

.top-buffer {
  padding-top: 15px;
}

@media (max-width: 992px) {
  .zip {
    margin-bottom: 15px;
  }
}
